/* Card.css */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    max-height: 18rem;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  @media (max-width: 768px) {
    .card {
      max-width: 100%;
    }
    .card:last-child {
      margin: 1rem 1rem 1rem 0;
    }
    .card-image {
      max-height: 250px;
    }
  }
  